@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    & .learn {
      color: hsl(207.2, 78.8%, 64.9%);
    }
  }
}

body {
  background-color: #24272d;
  display: grid;
  font-size: 1.75em;
  height: 100vh;
}
